H2, H3 {
    text-align: center;
}
table, th, td, tr {
    border: 0px solid;
}
td {
    vertical-align: text-top;
}
.center {
    left      : 50%;
    top       : 10%;
    position  : absolute;
    transform : translate(-50%, 0%);
}
.button {
    display: block;
    width: 115px;
    height: 25px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
}
#form_login {
    left      : 50%;
    top       : 30%;
    position  : absolute;
    transform : translate(-50%, 0%);
}
