{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

<h2>Generic Site</h2>

{% block heading %}
{% endblock %}

<div class="center">
<p>
  {% if user.is_authenticated %}
    <p>Logged in as {{ user.username }}</p>
    <p>Your email is {{ user.email }}</p>
    <p><a class="button" href="{% url 'logout' %}?next={% url 'index' %}">Logout</a></p>
  {% else %}
    <p><a class="button" href="{% url 'login' %}">Login</a></p>
    <p><a class="button" href="{% url 'register' %}">Register</a></p>
  {% endif %}
</p>
</div>

{% block content %}
{% endblock %}
</body>
