{% extends "base.html" %}

{% block heading %}
<h3>Login</h3>
{% endblock %}

{% block content %}
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}


<form id="form_login" method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>
<tr id="form-row">
    <td>{{ form.username.label_tag }}</td>
    <td id="id-username">{{ form.username }}</td>
</tr>
<tr id="form-row">
    <td>{{ form.password.label_tag }}</td>
    <td id="id-password">{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="login">
<input type="hidden" name="next" value="{{ next }}">
</form>

{% endblock %}
