{% extends "base.html" %}

{% block heading %}
<h3>Registration</h3>
{% endblock %}

{% block content %}

{% if not registered %}
<form id="form_login" action="" method="POST">
{% csrf_token %}
    <table>
    {{ user_form }}
    </table>
    <input type="submit" value="Register" />
</form>
{% else %}
<div id="form_login">
<p>User registration complete.</p>
<p>You can now log in.</p>
<ul>
    <li>USERNAME: {{ username }}</li>
    <li>EMAIL: {{ user_form.email.value }}</li>
</ul>
</div>

{% endif %}

{% endblock %}
